* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #dcf2f1;
}

body {
    background: rgb(220, 242, 241);
    background: radial-gradient(
        circle,
        rgb(54, 84, 134) 10%,
        rgba(127, 199, 217, 1) 46%,
        rgba(54, 84, 134, 1) 100%
    );
    font-size: 1rem; /* Ajustar según tu preferencia */
}

header {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu img {
    width: 6rem;
    margin: 1rem;
}

.menu__botones {
    margin: 0 2rem;
    height: 15vh;
    display: flex;
}

.menu__botones ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(217, 171, 128);
    color: black;
}

.contenedor1 h1 {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.contenedor1 h2 {
    opacity: 70%;
}

.contenedor1 {
    padding: 0 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    border-radius: 2rem;
    background-color: rgb(54, 84, 134);
    margin: auto;
}

.contenedor1__titulito1 {
    margin: auto;
    font-size: 2rem;
    color: white;
}

.contenedor1__titulito2 {
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.contenedor2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#izquierda {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenedor2__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.info__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.titulo__text {
    color: white;
    font-size: 1.3rem;
}

.info__descripcion {
    width: 250px;
    text-wrap: wrap;
}

#derecha {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenedor1__signup {
    position: relative;
    top: 7rem;
    height: 75px;
}

.signup__boton {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(217, 171, 128);
    font-size: 1.5rem;
    color: black;
}

.AboutUs {
    margin: 4rem 2rem;
}

.AboutUs__Titulito {
    font-size: 3rem;
    color: rgb(15, 16, 53);
}

.AboutUs__cuerpo {
    font-size: 1.5rem;
}

.AboutUs__ContactUs {
    color: rgb(15, 16, 53);
}

/* =================== FOOTER ===================== */

footer {
    width: 100%;
    background-color: rgb(15, 16, 53);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2rem;
}

.AboutUs__Subtitulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.AboutUs__InfoPablo,
.AboutUs__InfoJean {
    font-size: 1.2rem;
    border-bottom: solid rgba(255, 255, 255, 0.733);
}

.contenedor3 {
    width: 100%;
    text-align: center;
}

.rights {
    font-size: 1.2rem;
}

